<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2>Forgot your password?</h2>
	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
	  <%= devise_error_messages! %>

	  <div class="field">
	    <%= f.label :email %><br />
	    <%= f.email_field :email, autofocus: true, class: "form-group" %>
	  </div>
		</br>
	  <div class="actions">
	    <%= f.submit "Send me reset password instructions", class: "btn btn-default" %>
	  </div>
	<% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>