<div class="row">
  <%= render 'links/form' %>
</div>

<div class="alert">
  <% flash[:notice] %>
</div>

<div class="title">
  <h1>Trending links</h1>
</div>

<div class="container">
  <% @top_links.each do |link| %>
 <hr>
    <div class="row">
        <div class="col-sm-2">
          <ul class="click_time">
            <li><span class="badge"><span class="clicks"><%= link.clicks %></span></span> clicks</li>
            <li><span class="time"><%= time_ago_in_words(link.created_at) %> ago</span></li>
          </ul>
        </div>
        <div class="col-sm-3">
          <p class="short_url">Shortened URL:<%= link_to link.display_slug, link.slug, class: "btnSlug", target: "_blank" %></p>
        </div>
        <div class="col-sm-5">
          <p class="short_url">URL :<%= link_to link.given_url, link.given_url, target: "_blank" %></p>
        </div>
        <div class="col-sm-1">
            <%= link_to 'Delete', link_path(link), method: :delete, class: "btn btn-danger btn-lg" %>
        </div>      
    </div>
  <% end %>
</div>

<script>
  $('.btnSlug').click(function(event){
    event.preventDefault();
    var win = window.open(this, '_blank');
    win.focus();
    location.reload();
  });
</script>