<!DOCTYPE html>
<html>
  <head>
    <title>UrlShortner</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-default" role="navigation">
      <div id="logo" class="navbar-brand"><%= link_to "UrlShortner", root_path %></div>
        <nav class="collapse navbar-collapse navbar-ex1-collapse">
          <% if user_signed_in? %>
		    <ul class="nav navbar-nav navbar-right">
			  <li><%= link_to 'Account', edit_user_registration_path %></li>
			  <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
			</ul>
		  <% else %>
			<ul class="nav navbar-nav pull-right">
		      <li><%= link_to 'Sign up', new_user_registration_path %></li>
			  <li><%= link_to 'Sign in', new_user_session_path %></li>
			</ul>
		  <% end %>
        </nav>
      </div>
    </header>
	
	<% if notice %>
	  <p class="alert alert-success"><%= notice %></p>
	<% end %>
	<% if alert %>
	  <p class="alert alert-danger"><%= alert %></p>
	<% end %>
    <%= yield %>
  </body>
</html>
